---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&q=The%20Great%20Gatsby&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"I09ELXbrmOlE-RFCkDsRbIJj278/ECGiC7a5SFChhQf9q8yXJZUgQIU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 523,\n \"items\":
        [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"JgxOs2GX86AC\",\n   \"etag\":
        \"/yCJxBfMcDc\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/JgxOs2GX86AC\",\n
        \  \"volumeInfo\": {\n    \"title\": \"The Great Gatsby\",\n    \"authors\":
        [\n     \"F.Scott Fitzgerald\"\n    ],\n    \"publisher\": \"Interactive Media\",\n
        \   \"publishedDate\": \"2012-02\",\n    \"description\": \"A social satire
        and a milestone in 20th century literature, 'The Great Gatsby' peels away
        the layers of the glamorous twenties in the U.S. to display the coldness and
        cruelty at its heart.\",\n    \"industryIdentifiers\": [\n     {\n      \"type\":
        \"ISBN_10\",\n      \"identifier\": \"1907832564\"\n     },\n     {\n      \"type\":
        \"ISBN_13\",\n      \"identifier\": \"9781907832567\"\n     }\n    ],\n    \"pageCount\":
        154,\n    \"printType\": \"BOOK\",\n    \"categories\": [\n     \"Fiction\"\n
        \   ],\n    \"averageRating\": 3.5,\n    \"ratingsCount\": 5670,\n    \"contentVersion\":
        \"0.1.1.0.preview.3\",\n    \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks2.books.google.com/books?id=JgxOs2GX86AC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \    \"thumbnail\": \"http://bks2.books.google.com/books?id=JgxOs2GX86AC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \   },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.com/books?id=JgxOs2GX86AC&printsec=frontcover&dq=The+Great+Gatsby&hl=&cd=1&source=gbs_api\",\n
        \   \"infoLink\": \"http://books.google.com/books?id=JgxOs2GX86AC&dq=The+Great+Gatsby&hl=&source=gbs_api\",\n
        \   \"canonicalVolumeLink\": \"http://books.google.com/books/about/The_Great_Gatsby.html?hl=&id=JgxOs2GX86AC\"\n
        \  },\n   \"saleInfo\": {\n    \"country\": \"UA\",\n    \"saleability\":
        \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\":
        \"UA\",\n    \"viewability\": \"PARTIAL\",\n    \"embeddable\": true,\n    \"publicDomain\":
        false,\n    \"textToSpeechPermission\": \"ALLOWED\",\n    \"epub\": {\n     \"isAvailable\":
        true,\n     \"acsTokenLink\": \"http://books.google.com/books/download/The_Great_Gatsby-sample-epub.acsm?id=JgxOs2GX86AC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \   },\n    \"pdf\": {\n     \"isAvailable\": true,\n     \"acsTokenLink\":
        \"http://books.google.com/books/download/The_Great_Gatsby-sample-pdf.acsm?id=JgxOs2GX86AC&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \   },\n    \"webReaderLink\": \"http://books.google.com/books/reader?id=JgxOs2GX86AC&hl=&printsec=frontcover&output=reader&source=gbs_api\",\n
        \   \"accessViewStatus\": \"SAMPLE\"\n   },\n   \"searchInfo\": {\n    \"textSnippet\":
        \"A social satire and a milestone in 20th century literature, &#39;The Great
        Gatsby&#39; peels away the layers of the glamorous twenties in the U.S. to
        display the coldness and cruelty at its heart.\"\n   }\n  },\n  {\n   \"kind\":
        \"books#volume\",\n   \"id\": \"uKnCIdYDTKAC\",\n   \"etag\": \"DPfJxwaInHs\",\n
        \  \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/uKnCIdYDTKAC\",\n
        \  \"volumeInfo\": {\n    \"title\": \"The Great Gatsby &[...]
